doctype html 
html
  head
    title Rajiv_Dance_Academy
    block scripts
    block style
  body
    nav#navbar 
            ul
                div.logo 
                        div.imglogo 
                            img(src="../static/img/logohai8.png", alt="Error Loading")
                        div.intrologo RDC 
                li #[a(href = "/") Home]
                li #[a(href = "/") About]
                li #[a(href = "/") Services]
                li #[a(href = "/contact") Contact]
                li #[a(href = "/") More]
    block content
    footer.footer 
        | © Copyright 2023, All Rights Reserved  |  Neeraj Katheriya